.input_search {
    flex: 1;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    outline: none;
    padding: 15px;
    background-color: #e9e9e9;
    transition: border 0.3s ease;
    min-width: 1px;
    box-sizing: border-box;
}

.input_search:focus {
    border-color: #808080;
}

.div_wrapper {
    display: grid;
    grid-template-columns: auto max-content;
}

.div_wrapper_search_input {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding-left: 10px;
    padding-right: 10px;
}

.div_wrapper_1_row {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div_wrapper_2_row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.div_wrapper_buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
}

.buttons {
    width: 36px;
    height: 36px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
}

.buttons:hover {
    background-color: #388d3c;
}

.buttons img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.custom-checkbox input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 0;
    width: 4px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(40deg);
}

.custom-checkbox:hover input:checked + .checkmark {
    background-color: #388d3c;
    border-color: #388d3c;
}
