.pagination {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    list-style: none;
    padding: 0;
}

.pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px 6px 12px;
    border-radius: 20px;
    background-color: #75b751;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
}

.pagination li:hover {
    background-color: #388d3c;
}

.pagination li.current {
    background-color: #388d3c;
    cursor: default;
}

.pagination li.dots {
    cursor: default;
    background-color: #75b751;
}
