.form_div__form_add_comment {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.input__form_add_comment {
    flex: 1;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    padding: 15px;
    background-color: #e9e9e9;
    transition: border 0.5s ease;
}

.input_error__form_add_comment {
    border: 1px solid red;
    transition: border 0.5s ease;
}

.button__form_add_comment {
    background-color: #43a047;
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

.button__form_add_comment:disabled {
    background-color: #e9e9e9;
    color: #b1b1b1;
    cursor: not-allowed;
}

.form_div_errors__form_add_comment {
    margin-bottom: 20px;
    color: red;
    padding: 0 15px;
    animation: blink__form_add_comment 3s infinite;
}

@keyframes blink__form_add_comment {
    0%, 100% {
        color: red;
        opacity: 1;
    }
    50% {
        color: red;
        opacity: 0.2;
    }
}










