.grid_users_page {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    height: 100vh;
}

.header_fixed_users_page {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

.users_scroll_users_page {
    overflow-y: auto;
}

.pagination_fixed_users_page {
    position: sticky;
    bottom: 40px; /* отступ перед футером */
    z-index: 1;
    background-color: white;
}

.footer_fixed_users_page {
    position: sticky;
    bottom: 0;
    z-index: 2;
    background-color: white;
}