.table {
    border-collapse: collapse;
    width: 100%;
}

.table_thead {
    background-color: #4CAF50;
    color: white;
    position: sticky;
    z-index: 1;
    top: 0;
}

.table_header {
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.table_header_span_column {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.table_header_span_arrow {
    font-size: 0.5em;
}

.div_no_orders {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #4CAF50;
    font-size: 40px;
    font-weight: bold;
}
