.div_wrapper__users_list {
    padding: 10px 100px;
}

.button_create__users_list {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
}

.button_create__users_list:hover {
    background-color: #388d3c;
}

.div_no_users__users_list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #4CAF50;
    font-size: 40px;
    font-weight: bold;
}