.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.text {
    color: #43a047;
    padding-right: 10px;
    padding-bottom: 15px;
}

.dots {
    display: flex;
    gap: 5px;
}

.dots div {
    width: 10px;
    height: 10px;
    background: #43a047;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.dots div:nth-child(2) { animation-delay: 0.2s; }
.dots div:nth-child(3) { animation-delay: 0.4s; }

@keyframes bounce {
    to {
        transform: translateY(-10px);
    }
}
